@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  /*background-image: url("/assets/bg-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/

  background-color: #717783;
  background-color: #4e5360;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
